body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: #0d1117;
  color: white;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-weight: bold;
}

.navbar-brand, .nav-link {
  color: white;
  font-weight: bold;
}

#home {
  height: 50vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg) no-repeat center center/cover;
  background-size: cover;
}

#home h2 {
  margin-top: 85px;
  padding: 20px;
  font-weight: bold;
}

#home p {
  font-style: italic;
}

#home button{
  font-weight: bold;
}

#featured {
  height: 50vh;
}

#featured h3 {
  padding-bottom: 5px;
}

#featured-header {
  color: #004097;
  font-weight: bold;
}

#carouselExampleFade .carousel-item img {
  width: 390px;
  height: 259px;
  object-fit: cover;
}

#shop-header {
  color: #004097;
  padding: 20px;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#shop .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  text-align: center;
}

#shop .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#shop .card-title {
  color: #004097;
}

footer {
    padding: 10px 10px;
    text-align: center;
    background-color: #f8f9fa;
    margin-top: 50px;
}

#Contact h5{
  padding-top: 5px;
  font-style: italic;
  color: grey;
}

#Contact p {
  color: #0d1117;
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

#social-links img {
    transition: transform 0.3s ease;
}

#social-links img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#name {
  font-size: 11px;
}
